html { font-size:100%; }

body{
color: #fff;
 background-color: #FFFFFF;
 }

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

@media (min-width: 640px) { body {font-size:1rem;} }
@media (min-width:960px) { body {font-size:1.2rem;} }
@media (min-width:1100px) { body {font-size:1.5rem;} }

pre,code,kbd,samp {
background-size:auto
	font-family: monospace, monospace;
	_font-family: 'courier new', monospace;
	font-size: 0.98em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	}

b,strong {
	font-weight: bold;
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

img { max-width: 100%; }

@page :left {
		margin: 15mm 20mm 15mm 10mm;
	}
	@page :right {
		margin: 15mm 10mm 15mm 20mm;
	}